@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';

@import 'variables';
@import 'blockquotes';
@import 'code';
@import 'footer';
@import 'navbar';
@import 'gallery';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #131516;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    color: white;
}

i {
    color: white;
}

.body {
    margin: 10px;
}

.hidden {
    display: none !important;
}

.header,
.footer {
    flex: 0 0 auto;
}

/* Header */

.header,
.site-header {
    display: flex;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
}

/* Header/logo Title */
.header {
    padding: 60px;
    text-align: center;
    background: #6db06a7b;
}

/* Column container */
.row {  
    display: flex;
    flex-wrap: wrap;
    flex: column;
}
  
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 20%;
    border-right: 2px;
    padding: 20px;
}

/* Main column */
.main {
    flex: 80%;
    padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.099);
}
  
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row,
    .navbar {   
        flex-direction: column;
    }
}

/* Längst ner i min style-dark.scss */
.main {
    background-color: #ffffff15;
}

#nav {
    font-size: 20px;
    color: white;
}

#nav li a:not(:nth-child(4)){
    font-size: 20px;
    border: dotted rgba(0, 0, 0, 0.841);
    color: white;
}

.grid-container {
    display: grid;
    gap: 10px;
    background-color: #4a7648 !important;
    padding: 10px;
}

.grid-title {
    grid-column: span 4;
    grid-row: 1;
    text-align: center;
}

.grid-item {
    background-color: #0000001e;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.item1 {
    grid-column: 2 / span 3;
    grid-row: 2;
}

.item3 {
    grid-column: 1 / span 3;
    grid-row: 3;
}

.item5 {
    grid-column: span 4;
    grid-row: 4;
}

.item6 {
    grid-column: 1;
    grid-row: 5;
}

.item7 {
    grid-column: 2 / span 3;
    grid-row: 5;
}
