{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

<!-- The flexible grid (content) -->
<div class="row">
  <div class="side">
    <h2>Teknologier</h2>
    <h3><a href="analysis/01_colors">Kursmoment 04</a></h3>
    <h3><a href="analysis/02_load">Kursmoment 05</a></h3>
    <h3><a href="analysis/03_design_principles">Kursmoment 06</a></h3>
  </div>
  <div class="main">
    {{ content }}
  </div>
</div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>